<div class="row">
	</div>

<div class="row">
<div class="span6">
<h1 class="heading">Make and complete tutorials, together.</h1>
<p class="subheading">Learn to code by following step-by-step software tutorials. Comment on individual steps. Build tutorials on top of each other to create complex applications.</p>
<hr><p class="subheading"><b>1,270</b> tutorials successfully completed!</p>
</div>
<div class="span6">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>

 <%= f.label :username %>
  <%= f.text_field :username %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="actions">
	
   <%= f.submit "Sign up for free", :class => "btn btn-success btn-large" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>
</div>
<hr>