<% tutorial = form %>
<% tutorial ||= @tutorial %>

<%= form_for tutorial do |f| %>


  <%= f.label :title %>
  <%= f.text_field :title, :class => "span4" %><br>
 <!--Add an image of what the finished tutorial will look like: <%= f.file_field :image %> -->
  <%= f.label :website, "Link to Finished Website"  %>
  <%= f.text_field :website, :class => "span4" %>

<div class="row">
    <div class="span4">
      <%= f.label :tags %>
      <%= f.text_field :tag_list, value: @tutorial.tags.collect(&:name).join(", "), placeholder: "ruby, solr, sunspot", class: "tagit" %>
      <span class="help-block">
        Separate by commas, use double quotes for multi-word tags
      </span>
    </div>
  </div>
  
  <%= f.label :outline %>
  <%= f.text_area :outline, :size => "75x5", :class => "span8 wysihtml5" %>
  <br />
  <%= f.button "Submit", :class => "btn" %>
<% end %>