<h1><%= @tutorial.title %></h1>
<%= form_for @tutorial do |f| %>
  <div class="row">
    <div class="span12">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "span6" %>
    
      <%= f.label :outline %>
      <%= f.text_area :outline, :size => "75x10", :class => "span8 wysihtml5" %>
    </div>
  </div>

  <% @tutorial.steps.each do |step| %>
    <div class="row" data-kind="step">
      <div class="span12">
        <a href='#' class="pull-left remove-step" data-kind="remove-step">X</a> <h4>Step:</h4>
        <%= f.fields_for step, index: (step.id || 'new') do |s| %>
          <%= s.text_area :content, :size => "75x5", :class => "span8 wysihtml5" %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <a href='#' class="btn" data-kind="new-step">Add Step</a>
  <br />
  
  <div class="hide" data-kind="new-step">
    <div class="row" data-kind="step">
      <div class="span12">
        <a href='#' class="pull-left remove-step" data-kind="remove-step">X</a> <h4> Step:</h4>
        <%= f.fields_for Step.new, index: 'new-step-id' do |s| %>
          <%= s.text_area :content, :size => "75x5", :class => "span8 wysihtml5" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr />
  <%= f.button "Save", :class => 'btn btn-large' %>
<% end %>

<br />
<%= link_to "Back", tutorials_path %>