
     
<div class="row">
  <div class="span9">
<table class="table table-striped">
  

<% @tutorials.each do |tutorial| %>


    <tr>

    

<!--<td><%= image_tag tutorial.image_url(:thumb) if tutorial.image? %></td>      -->

<div class="details">
<td>

  <ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i><%= tutorial.reputation_for(:votes).to_i %></li>
  <li><i class="fa-li fa fa-list-alt"></i><%= tutorial.steps.count %></li>
</ul>


<td>
  <h3><%= link_to truncate(tutorial.title, length: 65), tutorial_path(tutorial) %>

</h3>
</div>
<div class="shortdescription"><%= raw(truncate(tutorial.outline.html_safe, length: 200)) %></div>
<div class="userandpost">
 By <%= tutorial.user.username %> <!--(Guided <b><%= tutorial.user.reputation_for(:user_votes).to_i %> coders </b>to safety)--> | <%="#{time_ago_in_words(tutorial.created_at)} ago" %></div>

   <!-- Tags: <% tutorial.tags.any? %>
  <% tutorial.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %> 
<% end %> |  Working Demo: <%= link_to tutorial.website, tutorial.website %> -->

       <% if current_user.present? && tutorial.editor?(current_user) %>
          <%= link_to "Edit", edit_tutorial_path(tutorial), :class => "btn" %>
          <%= link_to "Delete", tutorial_path(tutorial), :method => "delete", :class => "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate(@tutorial, :renderer => WillPaginate::ActionView::LinkRenderer) %>
</div>
  <div class="span3">
    <div class="wellcomplete" align="center">
    <h4>About YTutorial</h4>
    We are a community of rails developers teaching each other to code. This is an <a href="https://github.com/danvoell/ytutorial">open source project on github</a>. Please help our community get smarter, make a tutorial today<br><br>  <%= link_to "Make Your Own Tutorial", new_tutorial_path, :class => "btn btn-success" %> <br><br></div>

<script>
  (function() {
    var cx = '011548052767392118901:qftdif1o4ai';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

     <div class="wellcomplete" align="center">
    <h4>Additional Resources</h4><hr>
      Learn via Videos with Ryan Bates’s <a href="http://railscasts.com/">RailsCasts</a><hr>
      Learn via Tutorial with Michael Hartl's <a href="http://ruby.railstutorial.org/">RailsTutorial</a>
     </div>

       


<!-- <div class="well" align="center">
    <h3>Makers Club</h3>
    The make club chooses one tutorial/gem per week to go through. Sign Up Today!</div>
-->

  </div>
    </div>
</div>