<h1>Tutorials</h1>

<%= link_to "Make Your Own", new_tutorial_path, :class => "btn" %>
<br />

<table class="table table-striped">
  <tr>
	<th>Picture</th>
	
   <th>Title</th>
	
	<th>Actions</th>
			</tr>
  


<% @tutorials.each do |tutorial| %>

    <tr>

<td><%= image_tag tutorial.image_url(:thumb) if tutorial.image? %></td>      

<div class="details">
<td><h3><%= link_to tutorial.title, tutorial_path(tutorial) %></h3>
</div>
<p class="exc"><%= tutorial.outline.html_safe %></p>

<p class="manage">
  <a href="/resources/d3-js-basic-tutorials">0 comments</a>
   | <span class="f">1</span> Completed

</td>
      
<td> <% if current_user.present? && tutorial.editor?(current_user) %>
          <%= link_to "Edit", edit_tutorial_path(tutorial), :class => "btn" %>
          <%= link_to "Delete", tutorial_path(tutorial), :method => "delete", :class => "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>