<div class="row">
<!--<div class="span3"><br>
<%= image_tag @tutorial.image_url(:medium) if @tutorial.image? %>
	</div> -->  
<div class="span10">
    <h1><%= @tutorial.title %></h1>
<b>Short Description:</b> <%= @tutorial.outline.html_safe %>
<br><b>Link to Working Product:</b> <a href="<%= @tutorial.website %>"><%= @tutorial.website %></a>
<!-- <br><b>Tags:</b>

<% @tutorial.tags.any? %>
  <% @tutorial.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %> -->

<br><b>Successfully Completed By: </b><%= pluralize @tutorial.reputation_for(:votes).to_i, "folk" %><br>
<b>Tutorial By:</b> <%= link_to @tutorial.user.username, @tutorial.user %>
    

</div>


<div class="span2">
    <br>
<div class="well" align="center">
 Share Tutorial<br>
<%= link_to "http://www.facebook.com/sharer.php?u=#{tutorial_url(@tutorial)}" do %> <i class="fa fa-facebook fa-2x"></i>
<% end %>
                        

<%= link_to "http://twitter.com/home?status=YTutorial - #{@tutorial.title} #{tutorial_url(@tutorial)} " do %>
 <i class="fa fa-twitter fa-2x"></i>
<% end %>

<%= link_to "https://plus.google.com/share?url=#{tutorial_url(@tutorial)}" do %>
 <i class="fa fa-google-plus fa-2x"></i>
<% end %>         
	</div>
	
	  </div>
	
	 

</div>
<hr>    
<div class="row">
	<div class="span7">
<div class="accordion" id="steps-accordion">
      
      
      <% count = 0 %>
      <% @tutorial.steps.each do |step| %>
        <% count += 1 %>
        <div class="accordion-group" data-kind="step" data-step-count="<%= count %>" data-step-id="<%= step.id %>"> 
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#steps-accordion" href="#step-<%= step.id %>">
              Step <%= count %> - <%= step.steptitle %>
            </a>
          </div>

          <div id="step-<%= step.id %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= step.content.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="span5" data-kind="comments">
    <h3>Discuss Individual Steps</h3>
    <% @tutorial.steps.each do |step| %>
      <div data-kind="comment-block" data-comment-type="step" data-comments-step-id="<%= step.id %>">
        <%= render partial: 'comment', collection: step.comments %>
        <%= render partial: 'comment_form', object: Comment.new(step_id: step.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= link_to "I Successfully Completed This Tutorial!", vote_tutorial_path(@tutorial, type: "up"), method: "post", :class => "btn btn-info" %> <br><br>
    
  </div>
</div>