<div class="row">
  <div class="span6">
    <h1><%= @tutorial.title %></h1>
    <%= @tutorial.outline.html_safe %>
  </div>
</div>

<div class="accordion" id="steps-accordion">
<% count = 0 %>
<% @tutorial.steps.each do |step| %>
  <% count += 1 %>
  <div class="accordion-group" data-kind="step" data-step-count="<%= count %>">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#steps-accordion" href="#step-<%= step.id %>">
        Step <%= count %>
      </a>
    </div>
  
    <div id="step-<%= step.id %>" class="accordion-body collapse <%= count == 1 ? 'in' : '' %>">
      <div class="accordion-inner">
        <%= step.content.html_safe %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span6">
    Tutorial by <%= @tutorial.user.name || "Anonymous" %>
  </div>
</div>