<div class="row">
<!--<div class="span3"><br>
<%= image_tag @tutorial.image_url(:medium) if @tutorial.image? %>
	</div> -->  
<div class="span7">
    <h1><%= @tutorial.title %></h1>
<b>Short Description:</b> <%= @tutorial.outline.html_safe %>
<br><b>Link to Working Product:</b> <a href="<%= @tutorial.website %>"><%= @tutorial.website %></a>
<br><b>Tags:</b>

<% @tutorial.tags.any? %>
  <% @tutorial.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>

<br><b>Successfully Completed By: </b><%= pluralize @tutorial.reputation_for(:votes).to_i, "folk" %>
    | <%= link_to "I successfully completed", vote_tutorial_path(@tutorial, type: "up"), method: "post", :class => "btn btn-info" %>

</div>


<!--<div class="span2">
    <br>


	<div id="example" class="modal hide fade">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Shooting Down Tutorials, Like a Boss.</h3>
	  </div>
	  <div class="modal-body">
	    <p>Congratulations on completing this tutorial! You are on your way to becoming a full fledged Master Coder. Refectory is a free site (i.e. no marketing budget) help us grow and help others learn to code by spreading your achievements on <a href="http://twitter.com/share?text=I completed the tutorial - <%= @tutorial.title %> on http://www.refectory.com">Twitter</a> and <a href="http://www.facebook.com/sharer.php?u=<%= request.url %>">Facebook.</p>
	
	
	
	  </div>
	
	  <div class="modal-footer">
	    <a href="#" class="btn">Close</a>
	    <a href="#" class="btn btn-primary">Save changes</a>
	  </div>
	</div>

<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Succesfully Completed!</a></p> 

</div> -->

</div>
<hr>    
<div class="row">
	<div class="span6">
<div class="accordion" id="steps-accordion">
      
      
      <% count = 0 %>
      <% @tutorial.steps.each do |step| %>
        <% count += 1 %>
        <div class="accordion-group" data-kind="step" data-step-count="<%= count %>" data-step-id="<%= step.id %>"> 
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#steps-accordion" href="#step-<%= step.id %>">
              Step <%= count %> - <%= step.steptitle %>
            </a>
          </div>

          <div id="step-<%= step.id %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= step.content.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="span6" data-kind="comments">
    <h3>Discuss Individual Steps</h3>
    <% @tutorial.steps.each do |step| %>
      <div data-kind="comment-block" data-comment-type="step" data-comments-step-id="<%= step.id %>">
        <%= render partial: 'comment', collection: step.comments %>
        <%= render partial: 'comment_form', object: Comment.new(step_id: step.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span6">
    Tutorial by <%= link_to @tutorial.user.username %>
  </div>
</div>