<div class="row">
  <div class="span6">
    <h1><%= @tutorial.title %></h1>
    <%= @tutorial.outline.html_safe %>
  </div>
</div>

<% count = 0 %>
<% @tutorial.steps.each do |step| %>
  <% count += 1 %>
  <div class="row">
    <div class="span6">
      <h2>Step <%= count %></h2>
      <%= step.content.html_safe %>
    </div>
  </div>
  <hr />
<% end %>

<div class="row">
  <div class="span6">
    Tutorial by <%= @tutorial.user.name || "Anonymous" %>
  </div>
</div>